In [9]:
# Import SQLite
import sqlite3
# Import Pandas
import pandas as pd

# Set my working directory
import os
os.chdir('/Users/javipatron/Documents/MEDS/Courses/eds213/bren-meds213-class-data/week7')


# Connect to our database in week 7
conn = sqlite3.connect("database.db")


# Execute a querey and store as unique_species
c = conn.cursor()
c.execute("CREATE TEMPORARY TABLE temp_unique_species AS SELECT DISTINCT bn.Species, s.Scientific_name FROM Bird_eggs be JOIN Bird_nests bn ON be.Nest_ID = bn.Nest_ID JOIN Species s ON bn.Species = s.Code;")


species_query = """SELECT Species, Scientific_name FROM temp_unique_species"""
for row in c.execute(species_query):
    species_code = row[0]
    scientific_name = row[1]

    # query egg data for that species (step 3)
    egg_query = f"""SELECT '{species_code}' AS Species, Width * Width * Length AS Volume 
    FROM Bird_eggs be
    JOIN Bird_nests bn ON be.Nest_ID = bn.Nest_ID
    JOIN temp_unique_species tu ON bn.Species = tu.Species
    WHERE tu.Species = '{species_code}';"""
    df_species = pd.read_sql(egg_query, conn)
    
    # compute statistics and print results (step 4)
    cv = round(df_species.Volume.std()/df_species.Volume.mean()*100, 2)
    print(f"{scientific_name} {cv}%")

Charadrius semipalmatus 8.99%
Pluvialis dominica 19.88%
Pluvialis squatarola 6.94%
Calidris alpina 5.46%
Calidris fuscicollis 16.77%
Phalaropus fulicarius 4.65%
Arenaria interpres 21.12%

In [14]:
# Import SQLite
import sqlite3
# Import Pandas
import pandas as pd
# Set my working directory
import os
os.chdir('/Users/javipatron/Documents/MEDS/Courses/eds213/bren-meds213-class-data/week7')

# Connect to the SQLite database week 7
conn = sqlite3.connect('database.db')
c = conn.cursor()

# Get the list of all tables (make sure you are able to read them)
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())


# Create the creating a temporary table that contains unique combinations of the table "Species" and "Scientific_name" from joined data of Bird_eggs, Bird_nests, and Species tables.
c.execute("""
    CREATE TEMPORARY TABLE temp_unique_species AS 
    SELECT DISTINCT bn.Species, s.Scientific_name 
    FROM Bird_eggs be 
    JOIN Bird_nests bn ON be.Nest_ID = bn.Nest_ID 
    JOIN Species s ON bn.Species = s.Code
""")

# Get all unique species and their scientific names
c.execute("SELECT Species, Scientific_name FROM temp_unique_species")
rows = c.fetchall()

# Iterate over the species
for row in rows:
    species_code = row[0]
    scientific_name = row[1]
    
    # Get the egg data for the current species
    c.execute(f"""
        SELECT Width * Width * Length AS Volume 
        FROM Bird_eggs be
        JOIN Bird_nests bn ON be.Nest_ID = bn.Nest_ID
        WHERE bn.Species = '{species_code}'
    """)
    
    # Convert the results to a DataFrame for easy statistics calculations
    df_species = pd.DataFrame(c.fetchall(), columns=['Volume'])
    
    # Calculate and print the coefficient of variation
    cv = df_species['Volume'].std() / df_species['Volume'].mean() * 100
    print(f"{scientific_name} {round(cv, 2)}%")

[('Species',), ('Site',), ('Personnel',), ('Camp_assignment',), ('Bird_nests',), ('Bird_eggs',)]
Charadrius semipalmatus 8.99%
Pluvialis dominica 19.88%
Pluvialis squatarola 6.94%
Calidris alpina 5.46%
Calidris fuscicollis 16.77%
Phalaropus fulicarius 4.65%
Arenaria interpres 21.12%

In [16]:
# Import SQLite
import sqlite3
# Import Pandas
import pandas as pd
# Set my working directory
import os
os.chdir('/Users/javipatron/Documents/MEDS/Courses/eds213/bren-meds213-class-data/week7')

# Connect to the SQLite database
conn = sqlite3.connect('database.db')
c = conn.cursor()

# Create the temporary table
c.execute("""
    CREATE TEMPORARY TABLE EGG_VARIATION AS 
    SELECT DISTINCT bn.Species, s.Scientific_name 
    FROM Bird_eggs be 
    JOIN Bird_nests bn ON be.Nest_ID = bn.Nest_ID 
    JOIN Species s ON bn.Species = s.Code
""")

# Get all unique species and their scientific names
c.execute("SELECT Species, Scientific_name FROM EGG_VARIATION")
rows = c.fetchall()

# Iterate over the species
for row in rows:
    species_code = row[0]
    scientific_name = row[1]
    
    # Prepare the SQL query to get egg data for the current species
    egg_query = f"""
        SELECT Width * Width * Length AS Volume 
        FROM Bird_eggs be
        JOIN Bird_nests bn ON be.Nest_ID = bn.Nest_ID
        WHERE bn.Species = '{species_code}'
    """
    
    # Execute the SQL query and get the results as a DataFrame named 'df'
    df = pd.read_sql(egg_query, conn)
    
    # Calculate and print the coefficient of variation
    cv = round(df.Volume.std()/df.Volume.mean()*100, 2)
    print(f"{scientific_name} {cv}%")

Charadrius semipalmatus 8.99%
Pluvialis dominica 19.88%
Pluvialis squatarola 6.94%
Calidris alpina 5.46%
Calidris fuscicollis 16.77%
Phalaropus fulicarius 4.65%
Arenaria interpres 21.12%